.explorer {
    grid-template-columns: 1fr 1fr !important;
    width: 50% !important;
    padding: 0px 20px 0px 20px !important;
    position: absolute !important;
    top:150px !important;
}

.google-map-explorer {
    width: 50% !important;
    position: fixed;
    top: 80px;
    // height: calc(100vh - 80px) !important;
    // min-height: calc(100vh - 90px) !important;
    right: 0;
    z-index: 1;

}

// .google-map {
//     height: '75vh'!important;
//     width: '100%'!important;
//     padding: '20px 0px 20px 0px'!important;
//     top: unset!important;
// }

.card-container {
    position: unset;
    top: 200px;
    width: 100%;
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 2.5%;
    margin-top: 16px;

    @include for-small-layout {
        padding: 22px 42px 0px 42px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px 2.5%;
    }


    @include for-narrow-layout {
        padding: 6px 80px 0px 80px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px 2%;
    }


    .card {
        width: 100%;
        margin-bottom: 12px;

        &:hover {
            .arrow-right-conatiner {
                opacity: 1 !important;
            }
        }

        .card-image {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-pic {
            border-radius: 12px;
            object-fit: cover;
            aspect-ratio: 1.05265/1;
        }

        .arrow-right-conatiner {
            top: 0;
            bottom: 0;
            left: 80%;
            right: 0;
            margin: auto;
            position: absolute;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
            opacity: 0;
            cursor: pointer;
            transition: opacity .4s;

            .arrow-right {
                width: 12px;
                height: 15px;
            }

        }

        .heart-icon {
            position: absolute;
            width: 25px;
            height: 25px;
            right: 0;
            margin-top: 15px;
            margin-right: 15px;
            cursor: pointer;

        }

        .navigation-manual {
            top: 85%;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            height: 10px;
            width: 42px;
            display: flex;


            .navigation-button {
                width: 6px;
                height: 6px;
                background-color: $clr2;
                border-radius: 50%;

            }


            .navigation-button:not(:last-child) {
                margin-right: 6px;
            }

        }

        .card-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .starIcon {
                width: 12px;
                margin-right: 5px;
            }

            .card-info-location {
                color: $clr5;
                font-weight: 700;
                font-size: 14px;
            }

            .card-info-distance {
                margin-top: -6px;
                font-size: 14.5px;
                color: $clr4;
            }

            .card-info-date {
                line-height: 12px;
                font-size: 14.5px;
                color: $clr4;
            }

            .card-info-price {
                margin-top: 6px;
                line-height: 48px;
                font-size: 15px;
                
            }


            .card-info-price {
                margin: 0px;
                font-weight: bold;
                color: $clr5;

                span {
                    font-weight: 200;

                }
            }
        }



    }

}