.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 88px;
    padding-left: 88px;

    .card {
        // padding: 9.5% 10.5%;
        width: 200px;
        justify-content: center;
        background-color: $clr3;
        color: $clr2;
        border: 1px solid $clr2;
        border-radius: 8px;
        margin: -1px 0 0 -1px;
        cursor: pointer;

        img.card-image {
            object-fit: contain;
            width: 100px;
            height: 100px;
            // aspect-ratio: 1.5 / 1;
            margin: 20px 0;
        }

        .exitBtn {
            cursor: pointer;
            font-size: 20px;
            background-color: transparent;
            border: none;
        }

        .editBtn {
            cursor: pointer;
            margin-top: 4px;
            width: 20px;
            height: 18px;
        }

    }
}

.card-container {
    width: 100%;
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr;

    gap: 10px 2.5%;
    margin-top: 16px;

    @include for-small-layout {
        padding: 0px 42px 0px 42px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px 2.5%;
    }


    @include for-narrow-layout {
        padding: 0px 80px 0px 80px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px 2%;
    }


    .card {
        width: 100%;
        margin-bottom: 12px;

        &:hover {
            .arrow-right-conatiner {
                opacity: 1 !important;
            }
        }

        .card-image {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;



        }

        .card-pic {
            border-radius: 15px;
            object-fit: cover;
            aspect-ratio: 1.05265/1;

        }

        .arrow-right-conatiner {
            top: 0;
            bottom: 0;
            left: 80%;
            right: 0;
            margin: auto;
            position: absolute;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
            opacity: 0;
            cursor: pointer;

            transition: opacity .4s;

            .arrow-right {
                width: 12px;
                height: 15px;
            }

        }

        .heart-icon {
            position: absolute;
            width: 25px;
            height: 25px;
            right: 0;
            margin-top: 15px;
            margin-right: 15px;
            cursor: pointer;

        }

        .navigation-manual {
            top: 80%;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            height: 10px;
            width: 42px;
            display: flex;


            .navigation-button {
                width: 6px;
                height: 6px;
                background-color: $clr2;
                border-radius: 50%;

            }


            .navigation-button:not(:last-child) {
                margin-right: 6px;
            }

        }

        .card-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .starIcon {
                width: 12px;
                margin-right: 5px;
            }

            .card-info-location {
                color: $clr5;
                font-weight: 700;
            }

            .card-info-distance {
                margin-top: -6px;

                color: $clr4;
            }

            .card-info-date {
                line-height: 12px;
                color: $clr4;
            }

            .card-info-price {
                margin-top: 6px;
                line-height: 48px;
            }


            .card-info-price {
                margin: 0px;
                font-weight: bold;
                color: $clr5;

                span {
                    font-weight: 200;

                }
            }
        }



    }

}