header.header-container {

    background-color: $clr1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    justify-content: space-between;
    height: 80px;
    border-top: 1px solid $clr2;
    border-bottom: 1px solid $clr2;

    @include for-small-layout {
        // position: fixed !important;
        // z-index: 1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
//LOGO
    a {
        display: flex;
        img.logo {
            width: 100px;
            height: 30px;
        }
        @include for-small-layout {
            img.logo {
                width: 150px;
                height: unset;
            }
        }
    }
// SEARCH NAV 
    .header-nav {
       display: none;

        @include for-small-layout {
            display: flex;
            
            background-color: $clr1;
            height: 46px;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $clr2;
            border-radius: 30px;
            padding-right: 6px;
            padding-left: 8px;
            box-shadow: -1px 1px 10px -3px rgba(117, 117, 117, 0.79);
        }


        a.navlink {
            white-space: nowrap;
            background-color: transparent;
            font-size: 14px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0.5px;
            padding: 0px 16px 0px 16px;

            border-right: 1.4px solid $clr6;
            color: $clr5;
            text-decoration: none;
            font-family: Helmet;
            
        }

        a.navlink:last-of-type {
            border-right: none;
            font-weight: 400;
            letter-spacing: 0.6;
            color: $clr4;
            @include for-small-layout {
                border-right: none;
                font-weight: 400;
                letter-spacing: 0.6;
                color: $clr4;
            
            }
        }

        .search-icon {
            background-color: $clr3;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            cursor: pointer;

            .search-icon-img {
                width: 13px;
                height: 13px;
                aspect-ratio: 1/1;
            }
        }

    }
// USER PANEL
    .user-panel-nav {
        display: flex;
        align-items: center;
        justify-self: flex-end;

        a.user-panel-a {
            margin-right: 50px;
            white-space: nowrap;
            font-size: 14px;
            padding: 0px 0px 0px 16px;
            width: 100%;
            letter-spacing: 0.6px;
            font-weight: 600;
            color: $clr5;
            text-decoration: none;
            font-family: Helmet;
            display: none;
            @include for-small-layout {
                display: flex;

            }
        }

        .world-icon {
            width: 16px;
            height: 16px;
            margin: 0px 20px 0px 20px;
            display: none;
            @include for-small-layout {
            display: block;
            }
        }

        .user-container {
            display: flex;
            align-items: center;
            border: 2px solid $clr2;
            height: 42px;
            width: 78.2px;
            padding-left: 13px;
            padding-right: 4px;
            border-radius: 20px;
            cursor: pointer;
            gap: 11px;

            .burger-icon {
                width: 16px;
                height: 16px;
            }

            .user-icon {
                opacity: 0.55;
                width: 30px;
                height: 30px;
            }

            .user-profile {
            
                width: 30px;
                height: 30px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }


}


