header.header-container {

    background-color: $clr1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-top: 1px solid $clr2;
    border-bottom: 1px solid $clr2;

    a {
        display: flex;

        img.logo {
            width: 102px;
            height: 100%;
            padding-top: 22px;
            padding-bottom: 22px;
        }
    }

    .header-nav {
       display: none;

        @include for-small-layout {
            display: flex;
            background-color: $clr1;
            height: 46px;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $clr2;
            border-radius: 30px;
            padding-right: 6px;
            padding-left: 8px;
            box-shadow: -1px 1px 10px -3px rgba(117, 117, 117, 0.79);

        }


        a.navlink {
            white-space: nowrap;
            background-color: transparent;
            font-size: 14px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0.5px;
            padding: 0px 16px 0px 16px;

            border-right: 1.4px solid $clr6;
            color: $clr5;
            text-decoration: none;
            font-family: Helmet;
        }

        a.navlink:last-of-type {
            border-right: none;
            font-weight: 400;
            letter-spacing: 0.6;
            color: $clr4;
        }

        .search-icon {
            background-color: $clr3;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            cursor: pointer;

            .search-icon-img {
                width: 13px;
                height: 13px;
                aspect-ratio: 1/1;
            }
        }

    }

    .user-panel-nav {
        display: flex;
        align-items: center;
        justify-self: flex-end;

        a.user-panel-a {
            margin-right: 4px;
            white-space: nowrap;
            font-size: 14px;
            padding: 0px 0px 0px 16px;
            width: 100%;
            letter-spacing: 0.6px;
            font-weight: 600;
            color: $clr5;
            text-decoration: none;
            font-family: Helmet;
        }

        .world-icon {
            width: 16px;
            height: 16px;
            margin: 0px 20px 0px 20px;
        }

        .user-container {
            display: flex;
            align-items: center;
            border: 2px solid $clr2;
            height: 42px;
            width: 78.2px;
            padding-left: 11px;
            padding-right: 4px;
            border-radius: 20px;
            cursor: pointer;
            gap: 11px;

            .burger-icon {
                width: 16px;
                height: 16px;
            }

            .user-icon {
                opacity: 0.5;
                width: 30px;
                height: 30px;
            }

            .user-profile {
            
                width: 30px;
                height: 30px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }


}


header.main-header {
    display: grid;
    min-height: 100vh;
    grid-template-columns: minmax(auto, 30%) 1fr;
    grid-template-rows: rem(234px) 1fr auto;

    grid-template-areas:
        "logo slide"
        "case slide"
        "nav nav";

    .main-header-image {
        position: absolute;
        inset: 0;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .main-header-logo {
        grid-area: logo;
        justify-self: start;
        width: rem(174px);
        padding: 22px;
        margin: 60px 60px 0;
        background-color: $clr3;
        color: $clr2;
        display: flex;
        align-items: flex-end;
    }

    .main-header-nav {
        display: flex;
        justify-self: end;
        grid-area: nav;
        top: 0px;
        right: 0px;
        z-index: 10;

        .main-nav {
            a {
                @include btn($type: light, $padding: em(42px) em(80px));
                display: block;

                &.active {
                    background-color: $clr1;
                    color: $clr3;
                }
            }
        }

        .main-header-search {
            svg {
                width: 20px;
            }
        }
    }

    .main-header-case {
        grid-area: case;
        justify-self: end;
        align-self: center;
        width: 320px;
        background-color: $clr2;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 em(48px);
        margin-inline-start: 60px;

        &::before {
            content: "";
            width: 10px;
            height: 42px;
            background-color: $clr1;
            margin-bottom: em(42px);
        }

        .case-title {
            font-size: em(26px);
            line-height: 1.23;
        }

        .case-city {
            @include type(boldCondensed);
            color: $clr4;
            margin-bottom: em(44px);
        }
    }

    .main-header-slide-info {
        grid-area: slide;
        justify-self: end;
        max-height: 670px;
        background-color: $clr2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: em(60px);
        text-transform: uppercase;
        @include type(boldCondensed);

        .slide-pager {
            flex: 1;
            margin-bottom: em(30px);
        }

        .slide-pager-controler {
            display: flex;

            button {
                padding: em(30px) em(23px);
            }

            svg {
                width: 6px;
            }
        }
    }
}