.sticky-filter {
    @include for-small-layout {
        width: 50% !important;
    }

    width: 100% !important;
    padding: 0px 20px 0px 20px !important;
    height: 90px !important;
    position: fixed !important;
    top: 80px !important;
    z-index: 1 !important;
    display: flex !important;
    align-items: center !important;
    background-color: $clr1  !important;
    margin-top: 0px !important;
    border-bottom: 1px solid $clr2;
}



.filter-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    min-height: 80px;


    @include for-small-layout {
        padding: 0px 42px 0px 42px;

    }

    @include for-narrow-layout {
        background-color: $clr1;
        border-top: 0.5px solid $clr2;
        padding: 0px 80px 0px 80px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .filterSection {
        width: 100% !important;
        min-height: 78px;
        margin-top: 20px;
        background-color: $clr1;
        display: flex;
        align-items: center;
        // align-items: flex-start;
        overflow-x: hidden;
        overflow-y: hidden;

        .filter-category {
            cursor: pointer;
            opacity: 0.8;
            min-height: 66px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-right: 40px;

            &:hover {
                opacity: 1;
                border-bottom: 2px solid $clr5;
            }

            .filter-icons {
                width: 24px;
                height: 24px;
                margin-bottom: 7px;
            }

            .filter-icons-text {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.2px;
                color: $clr5;
                white-space: nowrap;
                font-family: Helmet;
            }
        }
    }

    .filter-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center !important;
        margin-top: 15px;
        cursor: pointer;
        height: 48px;
        border: 1.4px solid $clr2;
        border-radius: 12px;
        padding: 0px 16px 0px 16px;
        margin-left: auto;

        .filter-btn-text {
            letter-spacing: 0.5px;
            color: $clr5;
            font-size: 12px;
            padding-left: 10px;
            margin-block-end: -4px;
            font-family: Helmet;
            font-weight: 600;
        }

        .filter-btn-img {
            width: 14px;
            height: 14px;
        }
    }

    .filter-modal-titles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .second-title {
            color: $clr5;
            font-size: 20px;
            font-weight: 750;
            margin-left: 24px;
            display: flex;
            flex-direction: column;
        }

        .avg-price-title {
            font-size: 16px;
            margin-left: 24px;
            padding-bottom: 20px;
            color: $clr4;
            display: flex;
            flex-direction: column;
        }
    }

}