.my-trip-container {

    width: 100%;
    min-height: calc(100vh - 90px);
    padding: 20px 10px 0px 10px;
    background-color: #f0f2f5;

    .cards {
        flex-direction: column;

        @include for-small-layout {
            flex-direction: row;
        }
    }

    @include for-small-layout {
        padding: 20px 80px 0px 80px;

    }

    .chart {
        display: none;

        @include for-small-layout {
            display: block;
        }

        min-width: 670px;
    }

    .chart-phone {
        display: block;

        @include for-small-layout {
            display: none;
        }
    }

    canvas {
        padding-top: 5px;
        background-color: $clr1;
        border-radius: 20px;
        box-shadow: -1px 1px 10px -3px rgba(117, 117, 117, 0.79);

        @include for-small-layout {
            background-color: $clr1;
            padding: 50px 15px 20px 15px;

        }
    }


    .order-container {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        background-color: $clr1;
        border-radius: 12px;
        box-shadow: -1px 1px 10px -3px rgba(117, 117, 117, 0.79);
        width: 100%;
        min-height: 540px;
        align-items: flex-start;
        justify-self: flex-start;
        padding: 0px 10px 0px 10px;

        @include for-small-layout {
            padding: 0px 20px 0px 20px;
        }

        h1 {
            color: $clr5;
            font-size: 28px;
            font-weight: bold;

        }

        .user-profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .cancelBtn {
            background-color: #d70565;
            ;
            border: none;
            color: $clr1;
            width: 60px;
            font-size: 12px;
            height: 45px;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 30px;

            @include for-small-layout {
                width: 70px;
                height: 30px;
                font-size: 14px;
                margin-left: 0px;
            }
        }

        .order-list {
            align-items: center;
            height: 80px;
            border-bottom: 1px solid $clr2;
            color: $clr5;
            font-size: 12px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: Montserrat;
            color: rgb(128, 128, 128);
            display: grid;
            grid-template-columns: 20% 22% 16% 18% 20%;

            @include for-small-layout {
                height: 70px;
                grid-template-columns: 16.66% 16.66% 16.66% 11% 11% 11% 11% 6%;
            }

            .costumer {
                display: flex;
                gap: 8px;
            }

            .last-type {
                margin-left: 30px;

                @include for-small-layout {
                    margin-left: 0px;
                }
            }

            .status-title {
                margin-left: 10px;

                @include for-small-layout {
                    margin-left: 0px;
                }
            }

            .total-price {
                margin-left: 10px;

                @include for-small-layout {
                    margin-left: 0px;
                }
            }

            .title {
                font-family: Montserrat;
                font-weight: 600;
                color: #d70565;
            }

            &>* {
                display: flex;
                align-items: center;
                align-self: center;
                font-size: 14px;

                &:nth-child(1),
                &:nth-child(5),
                &:nth-child(6) {
                    display: none;

                    @include for-small-layout {
                        display: flex;
                    }
                }

                &:nth-child(2) {
                    display: block;

                    @include for-small-layout {
                        display: none;
                    }
                }
            }

            .stay {
                display: none;

                @include for-small-layout {
                    display: block;
                }
            }

            .date {
                display: none;

                @include for-small-layout {
                    display: block;
                }
            }

            .date-phone {
                display: block;

                @include for-small-layout {
                    display: none;
                }
            }

            .order-icon {
                width: 15px;
                height: 15px;
                align-self: center;
                margin-right: 0px;
                margin-left: 7px;
                font-size: 15px;

                @include for-small-layout {
                    margin-right: 5px;
                    margin-left: 0px;
                }
            }


            .phone-only {
                display: block;
                width: 60px;
                height: 60px;
                object-fit: cover;
                aspect-ratio: 1/1;
                border-radius: 12px;

                @include for-small-layout {
                    display: none;
                }
            }



        }
    }
}





.order-piechart-container {
    width: 39%;
    min-height: 160px;
    max-height: 250px;
    border-radius: 20px;
    padding-top: 8px;
    margin-top: 50px;
    float: left;
    display: none;

    @include for-small-layout {
        display: flex;
    }

    .pieChart {
        height: 100%;
    }
}

.balance-conatiner {
    width: 55%;
    height: 335px;
    float: right;
    border-radius: 20px;
    box-shadow: -1px 1px 10px -3px rgba(117, 117, 117, 0.79);
    text-align: center;
    padding-top: 8px;
    margin-right: 25px;
    margin-bottom: 20px;
    display: none;

    @include for-small-layout {
        display: block;
        background-color: $clr1;
    }


    .title {
        @include for-small-layout {
            color: $clr5;
        }

        color: $clr1;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;

    }


    .balance-sector {
        margin-top: 5px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0px 50px 0px 40px;

        .info {
            @include for-small-layout {
                color: $clr5;
            }

            color: $clr1;
            font-size: 16px;
            font-weight: bold;
            text-align: center;

            .stock-icon {
                font-size: large;
                vertical-align: sub;
            }
        }
    }

}

.total {
    display: flex;
    @include for-small-layout {
        display: none;
    }
}