.filter-modal {
    max-width: 780px;
    max-height: 80%;
    align-content: center;
    position: absolute;
    height: 80%;
    .modal-body-container{
        overflow-y: auto;
        overflow-x: hidden;
    }
    left: 50%;
    top: 0;
    margin-top: 38px;
    transform: translateX(-50%);
    background-color: $clr1;
    z-index: 2;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 10px -3px rgba(117, 117, 117, 0.79);
    .filter-price-contianer{
        margin-top: 100px;
    }
    .modal-footer{
        min-height: 20px;
    }
    .stay-type-title{
        color:$clr5;
    }

    .App{
        .bars{
            display:grid;
            margin:-5px ;
            margin-left: 10%;
            border: 1px ;
            padding-left:2px ;
            padding-right:2px;
            bottom:8px;
        }
    }

    
    @include for-small-layout {
        top: 6%;
        width: 55%;
        // height: 70%;
        border-radius: 12px;
    }
    .handleContainer_1{
        width: 67%;
        left:55px;
    }
    .rheostat_1{
        width: 80%;
        left:10%;
    }
    .DefaultBackground_background__horizontal {
        width: 67%;
        left: -29px;
    }
    .title-sector {
        font-size: 28px;
        color: $clr5;
        width: 100%;
        border-bottom: 1px solid;
        border-color: $clr6;

        @include for-small-layout {
            font-size: 33px;
        }

        .filter-header {
            flex-direction: column;
            font-size: 16px;
            font-weight: 750;
            text-align: center;
            margin-top: 20px;
        }
    }

    .exit-btn {
        border: none;
        background-color: transparent;
        flex-direction: column;
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: 2%;
        position: fixed;
        margin-top: 10px;
    }



    .DefaultBackground_background__horizontal {
        margin: 0 auto;
    }

    .DefaultHandle_handle__horizontal_2 {
        // margin-right: 10px !important;
        align-self: center;
    }

    .price-container {
        // flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 32px;
        border-bottom: 1px solid;
        border-color: $clr6;
        padding: 8px 25px 8px 25px;


        .line-btwn-box {
            font-size: 20px;
            align-self: center;
            color: $clr5;
        }

        .min-price-container {
            height: 60px;
            width: 48%;
            display: flex;

            flex-direction: column;
            justify-content: center;
            border: 1px solid;
            border-color: $clr4;
            padding-left: 10px;
            margin-top: 12px;
            margin-bottom: 12px;
            border-radius: 15px;
            color: $clr5;

            .min-price-txt {
                flex-direction: row;
                color: $clr4
            }

            .min-price-num {
                flex-direction: row;
                font-size: 15px;
                font-weight: 400;
            }
        }

        .max-price-container {
            height: 60px;
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid;
            border-color: $clr4;
            padding-left: 10px;
            margin-top: 12px;
            margin-bottom: 12px;
            border-radius: 15px;
            color: $clr5;

            .max-price-txt {
                flex-direction: row;
                color: $clr4
            }

            .max-price-num {
                flex-direction: row;
                font-size: 15px;
                font-weight: 400;
            }
        }


    }


    .modal-footer{
        height:80px;
        min-height: fit-content;
        border-top: 1px solid $clr2;
        .show-homes {
            height: 48px;
            width: 196px;
            margin: 0 auto;
            margin-top: 16px;
            margin-bottom: 16px;
            border-radius: 10px;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            padding: 10px 20px 10px 20px;
            background-color: $clr5;
            color: $clr1;
            align-self: center;
            margin-right: 24px;
        }
    }

    
}

