.room {

    @include for-small-layout {
        padding: 0px 80px 0px 80px
    }

    .room-info-icons {
        width: 23px;
        height: 23px;
    }

    .room-info-text {
        color: $clr5;
    }

    .room-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        padding: 0px 10px 0px 10px;

        @include for-small-layout {
            padding: 0px;
            margin-top: 20px;
        }

        .room-info-title {
            font-size: 26px;
            font-weight: 600;
            color: $clr5;
        }

        div {
            .room-info-left {
                display: flex;

                .room-info-rating {
                    font-size: 14px;
                    font-weight: 600;
                    color: $clr5;
                    margin-right: 8px;
                }

                .room-reviews-info,
                .room-location-info {
                    font-size: 14px;
                    font-weight: 600;
                    color: $clr5;
                    margin-right: 8px;
                    text-decoration: underline;
                }
            }

            .room-info-right {
                display: flex;

                .room-info-share,
                .room-reviews-save {
                    font-size: 14px;
                    font-weight: 600;
                    color: $clr5;
                    margin-left: 15px;
                    text-decoration: underline;
                }
            }

        }

    }

    .room-images {
        margin-top: 20px;
        display: flex;
        overflow-x: hidden;



        @include for-small-layout {
            display: grid;
            max-height: 335px;
            grid-template-rows: 163.5px 163.5px;

            grid-template-areas:
                "a a b c"
                "a a d e"
            ;
            gap: 8px;
        }


        .room-image {
            height: 335px;
        }

        .room-image:first-child {
            @include for-small-layout {
                border-bottom-left-radius: 12px;
                border-top-left-radius: 12px;
            }
        
            width: 100%;
            grid-area: a;
        }

        .room-image:nth-child(2) {
            width: 100%;
            height: 100%;
            grid-area: b;
        }

        .room-image:nth-child(3) {
            height: 100%;
            grid-area: c;
            border-top-right-radius: 12px;
        }

        .room-image:nth-child(4) {
            height: 100%;
            grid-area: d;
        }

        .room-image:nth-child(5) {
            height: 100%;
            grid-area: e;
            border-bottom-right-radius: 12px;
        }


    }

    .room-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        padding: 0px 10px 0px 10px;
        @include for-small-layout {
            padding: 0px;
            }

        .room-details-title {
            font-size: 22px;
            font-weight: 600;
            color: $clr5;
            margin-block-end: 0px;
        }

        .room-details-desc {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            color: $clr5;
            text-align: start;
            padding-bottom: 30px;
            border-bottom: 1.8px solid $clr2;
        }

        .left {
            width: 70%;



        }

        .right {
            width: 30%;
        }


    }

    .place-offer {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid $clr2;
        padding: 0px 10px 0px 10px;
        @include for-small-layout {
        padding: 0px;
        }
        .place-offer-list {

            display: flex;
            justify-content: space-between;
            
            @include for-small-layout {
                max-width: 46vw;
            }

            .left {
                display: flex;
                flex-direction: column;
            }

            .right {
                display: flex;
                flex-direction: column;
            }

        }
    }

    .review-container {
        border-top: 1px solid $clr2;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        padding: 8px 8px 15px 8px;
        .fontSize-22 {
            font-size: 22px;
        }

        .review-title {
            font-size: 22px bold;
            color: $clr5;
            width: 100%;
            padding-bottom: 10px;
        }

        .review-card {
            width: 50%;
            color: $clr5;
            
            max-height: 150px;
            gap: 10px;
            overflow-y: scroll;

            @include for-small-layout {
                padding: 0px 60px 15px 8px;
            }
        }

        .user-col {
            display: flex;
            flex-direction: column;
            padding-left: 8px;
            line-height: normal;
            padding-top: 5px;
        }

        .review-date {
            color: $clr4;
            font-size: 14px
        }

        .user-pic {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        .review-txt {
            font-weight: 400;
            line-height: 20px;

            @include for-small-layout {
                padding: 15px 100px 15px 0px;
            }
        }
    }
}