.wishlist-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 40px;


    .title-container {
        display: flex;
        margin-bottom: 36px;
        margin-top: 4%;
        -webkit-box-pack: justify;
        align-items: center;
        justify-content: space-between;

        .title {
            color: $clr5;
            font-size: 32px;
            line-height: 36px;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            margin-top: 20px;
            margin-bottom: 15px;
            font-weight: 1000;
            display: block;
        }

    }

    .wish-list {
        display: flex;
        flex-wrap: wrap;

        .list {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            list-style-type: none;
            // margin: -5px;
            padding: 0px;

            .wish-box {
                display: grid;
                max-height: 335px;
                max-width: 900px;
                grid-template-rows: 105px 105px;
                grid-template-columns: 150px 120px 120px 120px;
                grid-template-areas:
                    "a a b b d d e e "
                    "a a c c d d f f";
                gap: 2px;

                margin-bottom: 10px;

                .wish-pic:first-child {
                    height: 100%;
                    grid-area: a;
                    object-fit: cover;
                    border-bottom-left-radius: 12px;
                    border-top-left-radius: 12px;
                }

                .wish-pic:nth-child(2) {
                    height: 100%;
                    width: 75%;
                    grid-area: b;
                    object-fit: cover;
                    border-top-right-radius: 12px;
                }

                .wish-pic:nth-child(3) {
                    height: 100%;
                    width: 75%;
                    grid-area: c;
                    object-fit: cover;
                    border-bottom-right-radius: 12px;
                }

            }

            .list-title {
                flex-direction: column;
                color: #222222;
                font-size: larger;
                margin: 0;
                font-size: 18px;
                margin-bottom: 10px;
                letter-spacing: 0.6px;
                font-weight: bold;
            }
        }


    }

    .wishlist-edit-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 8px 0px 8px 0px;
        border: 1px solid $clr2;
        z-index: 100;
        border-radius: 8px;
        background-color: white;

        .setting-title {
            border-bottom: 1px solid #e3e3e3;
            // padding: 0px 20px 0px 20px;
            text-align: center;
            margin-left: 36%;
        }

        .exit-btn {
            border: none;
            background-color: transparent;
            font-size: 18px;
            cursor: pointer;
            margin-left: 90%;
            position: fixed;
        }

        .rename-layout {
            padding: 0px 20px 0px 20px;

            .header {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 22px;
                font-weight: bold;
            }
        }

        .lower-text {
            text-align: center;
        }

        .continue-btn {
            margin-top: 10px;
            border: none;
            height: 48px;
            background-color: #ff385c;
            color: white;
            font-size: 14px;
            font-weight: bold;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 38%;
        }

        .name-input {
            margin-left: 5px;
            min-width: 100%;
            border-radius: 10px;
        }
    }
}

.list-title-icon {
    display: flex;
    position: absolute;
    top: 63%;



    .wishlist-rename-icon {
        width: 16px;
        height: 16px;
        position: flex;
        flex-direction: column;
        margin-top: 3.5px;
        margin-left: 10px
    }
}

.wishlist-card-container {
    width: 100%;
    display: flex;

    @include for-small-layout {
        padding: 0px 42px 0px 42px;
        grid-template-columns: 1fr 1fr;
        gap: 10px 2.5%;
    }


    @include for-narrow-layout {
        padding: 0px 80px 0px 80px;
        grid-template-columns: 1fr 1fr;
        gap: 30px 2%;
    }


    .right {
        width: 40%;
        .google-map{
            height: 100vh !important;
            padding: 0px !important;
            
        }
    }





    .left {
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 40px;

        .list-name {
            width: 100%;
            font-size: 32px;
            font-weight: 500;
            margin-top:20px;
            // margin-bottom: 40px;
            color: $clr5;
            height: 10px;
            display: block;
        }

        .wishlist {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;



            .card {
                width: 100%;
                margin-bottom: 12px;

                .card-image {
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .card-pic {
                        border-radius: 15px;
                        object-fit: cover;
                        aspect-ratio: 1.05265/1;

                    }

                    .arrow-right-conatiner {
                        top: 0;
                        bottom: 0;
                        left: 80%;
                        right: 0;
                        margin: auto;
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        background-color: white;
                        cursor: pointer;

                        .arrow-right {
                            width: 15px;
                            height: 15px;
                        }

                    }

                    .heart-icon {
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        right: 0;
                        margin-top: 15px;
                        margin-right: 15px;
                        cursor: pointer;

                    }

                    .navigation-manual {
                        top: 80%;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        position: absolute;
                        height: 10px;
                        width: 42px;
                        display: flex;


                        .navigation-button {
                            width: 6px;
                            height: 6px;
                            background-color: $clr2;
                            border-radius: 50%;

                        }


                        .navigation-button:not(:last-child) {
                            margin-right: 6px;
                        }

                    }

                }

                .card-info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .starIcon {
                        width: 12px;
                        margin-right: 5px;
                    }

                    .card-info-location {
                        color: $clr5;
                        font-weight: 700;
                    }

                    .card-info-distance {
                        color: $clr4;
                    }

                    .card-info-date {
                        line-height: 12px;
                        color: $clr4;
                    }

                    .card-info-price {
                        margin-top: 4px;
                        line-height: 38px;
                    }


                    .card-info-price {
                        margin: 0px;
                        font-weight: bold;
                        color: $clr5;

                        span {
                            font-weight: 200;

                        }
                    }
                }
            }
        }

    }
}