
    .room-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 48px;
        padding: 0px 10px 0px 10px;

        @include for-small-layout {
            padding: 0px;
        }

        .title-sector {
            width: 57.3%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1.8px solid $clr2;

            .profile-img {
                width: 60px;
                height: 60px;
                object-fit:cover;
        
                border-radius: 50%;
            }

            .room-details-title {
                font-size: 22px;
                letter-spacing: 0.6px;
                font-weight: 600;
                color: $clr5;
                margin-block-end: 0px;
            }

            .room-details-desc {
                width: 100%;
                font-size: 18px;
                font-weight: 400;
                color: $clr5;
                text-align: start;
                padding-bottom: 20px;

            }

        }


        .left {
            width: 70%;

            .icon-container {
                display: flex;
                margin-top: 15px;

                .room-info-icons {
                    margin-top: 4px;
                }

                &:nth-child(1) {
                    margin-top: 30px;
                }
            }
        }

        .right {
            width: 30%;
        }

    }
