.review-container {

    border-top: 1px solid $clr2;
    padding-bottom: 20px;
    width: 100%;
    font-size: 16px;
    display: flex;
    padding: 45px 20px 0px 20px;
    flex-direction: column;
    border-bottom: 1px solid $clr6;

    @include for-small-layout {
        padding: 45px 8px 0px 8px;
        flex-wrap: wrap;
        flex-direction: row;

    }

    textarea {
        width: 42%;
        margin-bottom: 20px;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
    }

    .add-review-btn {
        background-color: $clr0;
        color: $clr1;
        border: none;
        font-weight: 600;
        border-radius: 5px;
        max-height: 30px;
        min-width: 100px;
        cursor: pointer;
    }

    .review-header {
        width: 42%;
        display: flex;
    }

    .fontSize-22 {
        font-size: 22px;
    }

    .review-title {
        font-size: 22px bold;
        color: $clr5;
        width: 100%;
        padding-bottom: 10px;
    }

    .review-card {
        width: 100%;
        color: $clr5;
        margin-bottom: 30px;
        max-height: 200px;
        gap: 10px;
        overflow-y: scroll;
        text-overflow: ellipsis;

        @include for-small-layout {
            overflow-y: hidden;
            width: 50%;
            padding: 0px 60px 15px 8px;
        }
    }

    .user-col {
        display: flex;
        flex-direction: column;
        padding-left: 18px;
        line-height: normal;
        padding-top: 5px;
    }

    .review-date {
        margin-top: 2px;
        color: $clr4;
        font-size: 14px
    }

    .user-pic {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .review-txt {
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;
        margin-top: 15px;
        text-overflow: ellipsis;
        padding-right: 20px;


        @include for-small-layout {
            margin-top: 0px;

            padding: 15px 40px 15px 0px;

        }
    }
}