.room {
    @include for-small-layout {
        padding: 0px 112px 0px 112px
    }

    .map-title{
        width: 100%;
        font-size: 22px ;
        font-weight: 600;
        color: $clr5;
        margin-top: 40px;
    }
}