.room {
    // @include for-small-layout {
    //     padding: 0px 112px 0px 112px
    // }

    @include for-wide-layout {
        padding: 0px 30px 0px 30px

    }
      @include for-narrow-layout {
        padding: 0px 112px 0px 112px
    }
    display: grid;
    grid-template-rows: 1fr;

    .map-title{
        width: 100%;
        font-size: 22px ;
        font-weight: 600;
        color: $clr5;
        margin-top: 20px;
        padding: 0px 20px 0px 20px;

        @include for-small-layout {
            margin-top: 40px;
            padding: 0px
        }
    }
}