// Flex 
.flex {
    display: flex;
}
.align-items{
    align-items: center;
}
.flex-coulmn{
    display: flex;
    flex-direction: column;
}
.inline-flex {
    display: inline-flex;
}

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Text 
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);  
}

.tag-text {
    color: $clr1;
    text-transform: uppercase;
    @include type(boldCondensed);
}

// Aspect ratios

.ratio-16-9 { @include aspect-ratio(100, 56); }

.ratio-square { @include aspect-ratio(100, 100); }

.ratio-card { @include aspect-ratio(100, 80); }

.ratio-poster { @include aspect-ratio(100, 150); }

// fonts
.fontSize-22{
    font-size: 22px;
}

.bold{
    font-weight: 600;
}

.black{
    color: $clr5;  
}
.gray{
    color: $clr4;
}

.text-start{
    text-align: start;
}

// margins

.margin-top-30{
    margin-top: 30px;
}

.margin-right-20{
margin-left: 20px;
}

.margin-buttom-5{
    margin-bottom: 5px;
}