// Flex 
.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.align-items {
    align-items: center;
}

.Montserrat{
    font-family: Montserrat;

}

.full-width {
    width: 100%;
}

.position-fixed {
    position: fixed;
    z-index: 10;
}

.text-center {
    text-align: center;
}

.align-self {
    align-self: center;
}

.phone--only {
    display: flex;

    @include for-small-layout {
        display: none;
    }
}

.phone--hidden {
    display: none;

    @include for-small-layout {
        display: flex;
    }
}

.half-width {
    width: 100% !important;
}



.overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.justify-content {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}


.underline{
    text-decoration: underline !important;
    font-weight: bold !important;
}

.flex-coulmn {
    display: flex;
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Text 
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.tag-text {
    color: $clr1;
    text-transform: uppercase;
    @include type(boldCondensed);
}

// Aspect ratios

.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

// fonts
.fontSize-22 {
    font-size: 22px;
}

.bold {
    font-weight: 600;
}

.black {
    color: $clr5;
}

.gray {
    color: $clr4;
}

.text-start {
    text-align: start;
}

.low-opacity{
    opacity: 0.1 !important;
    cursor: not-allowed !important;
}

// margins

.margin-top-30 {
    margin-top: 30px;
}

.margin-right-20 {
    margin-left: 20px;
}

.margin-buttom-5 {
    margin-bottom: 5px;
}

.stay-details-layout {
    padding: 0px 20px 0px 20px;

    @include for-narrow-layout {
        padding: 0px 112px 0px 112px;
        border-bottom: 1px solid $clr2;
    }
}



.stay-list-layout {
    padding: 0px 20px 0px 20px;

    @include for-small-layout {
        padding: 0px 42px 0px 42px;
    }

    @include for-narrow-layout {
        padding: 0px 80px 0px 80px;
    }
}

.stay-details-margin {
    @include for-small-layout {
        margin: 0px 37.5px 0px 37.5px;
    }
    @include for-narrow-layout {
        padding: 0px 10px 0px 10px;
    }

}



.stay-list-margin {
    @include for-small-layout {
        margin: 0px 24px 0px 24px;
    }
}